/* 기본 스타일 */
body {
  font-family: 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans TC', sans-serif;
  margin: 0;
}

#container {
  overflow: hidden;
  height: 100%;
  position: relative;
}

#mapWrapper {
  width: 100%;
  height: 100%;
  /* 기본적으로 지도가 전체 화면을 차지하도록 설정 */
  z-index: 1;
}

#rvWrapper {
  width: 70%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  display: none;
  /* 기본적으로 로드뷰는 숨겨져 있음 */
}

#container.view_roadview #mapWrapper {
  width: 30%;
  /* 로드뷰가 활성화되면 PC에서 맵이 30%로 줄어듬 */
}

#container.view_roadview #rvWrapper {
  display: block;
  /* 로드뷰가 활성화되면 로드뷰를 표시 */
}

#roadviewControl {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 42px;
  height: 42px;
  z-index: 1;
  cursor: pointer;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png) 0 -450px no-repeat;
}

#roadviewControl.active {
  background-position: 0 -350px;
}

#close {
  position: absolute;
  padding: 4px;
  top: 5px;
  left: 5px;
  cursor: pointer;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #c8c8c8;
  box-shadow: 0px 1px #888;
}

#close .img {
  display: block;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/rv_close.png) no-repeat;
  width: 14px;
  height: 14px;
}

/* PC 환경 스타일 (화면 너비가 768px 이상일 때) */
@media screen and (min-width: 768px) {
  #container.view_roadview #mapWrapper {
    width: 30%;
    /* 로드뷰가 활성화되면 맵이 30%로 줄어듬 */
  }

  #rvWrapper {
    width: 70%;
    /* 로드뷰가 활성화되면 로드뷰가 70% 차지 */
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
}

/* 모바일 환경 스타일 (화면 너비가 768px 미만일 때) */
@media screen and (max-device-width: 1000px),
screen and (max-width: 767px) {
  #container {
    display: flex;
    flex-direction: column;
  }

  #mapWrapper {
    width: 100%;
    height: 100%;
    /* 로드뷰가 비활성화된 상태에서 지도가 전체를 차지 */
    z-index: 1;
    position: relative;
  }

  #rvWrapper {
    width: 100%;
    height: 50%;
    /* 로드뷰가 활성화되면 로드뷰가 위쪽 50% 차지 */
    position: relative;
    z-index: 0;
    top: 0;
    right: 0;
    display: none;
    /* 기본적으로 로드뷰는 숨겨져 있음 */
  }

  #container.view_roadview #mapWrapper {
    width: 100%;
    height: 50%;
    /* 로드뷰가 활성화되면 맵이 아래쪽 50%로 줄어듬 */
  }

  #container.view_roadview #rvWrapper {
    display: block;
    /* 로드뷰가 활성화되면 로드뷰를 표시 */
  }
}